:root {
    --background-white: #f1f1f18f;
    --background-box-white: #f0f0f0;
    --background-box-gray: #d9d9d9;
    --background-box-yellow: #ebe01a;
    --background-box-green: #3cce77;
    --background-key-used-gray: #a59f9f;
    --background-key-default: #dfdfdf;
    --background-key-default-hover: #cccccc;

    --color-text-black: #524747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px
}

#alert {
    margin: 5px;
    font-size: 1.8rem;
    color: var(--background-box-green);
    text-align: center;
}

#keyboard {
    margin-top: 100px;
}

.keyboard__list {
    display: flex;
    justify-content: center;
}

.keyboard__button {
    width: min-content;
    min-width: 18px;
    max-width: 60px;
    padding: 5px 8px;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-text-black);
    background-color: var(--background-key-default);
    border: none;
    border-radius: 5px;
}

.keyboard__button:hover {
    background-color: var(--background-key-default-hover);
}

#grid {
    margin: 20px auto;
}

.grid__row {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.row__item {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    border: none;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.247) inset;
    background-color: var(--background-box-white);
    border-radius: 5px;
}

.green {
    background-color: var(--background-box-green);
}

.yellow {
    background-color: var(--background-box-yellow);
}

.gray {
    background-color: var(--background-box-gray);
}

.key-gray {
    background-color: var(--background-key-used-gray);
}